In [1]:
n = int(input())

30

In [9]:
arr = [ "fizzbuzz" if (num % 3 == 0 and num % 5 == 0) else ("fizz" if num % 3 == 0 else ("buzz" if num % 5 == 0 else num)) for num in range(1, n+1)]

In [ ]:
arr = [  ]

In [8]:
arr

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz']

In [3]:
for num in range(1, n+1):
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [10]:
arr = [[j*i for j in range(1, 11)] for i in range(1, 11)]

In [11]:
arr

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [12]:
[ i for i in range(1, 21) if i % 2 == 0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
a = [
    {
        "name": "jatin",
        "language": "python",
        "name1": "jatin",
        "language1": "python",
        "name2": "jatin",
        "language2": "python",
        "name3": "jatin",
        "language3": "python"
    },
    {
        "name": "jatin",
        "language": "python"
    },
    {
        "name": "jatin",
        "language": "python"
    },
    {
        "name": "jatin",
        "language": "python"
    }
]

In [24]:
from pprint import pprint

In [25]:
pprint(a)

[{'language': 'python',
  'language1': 'python',
  'language2': 'python',
  'language3': 'python',
  'name': 'jatin',
  'name1': 'jatin',
  'name2': 'jatin',
  'name3': 'jatin'},
 {'language': 'python', 'name': 'jatin'},
 {'language': 'python', 'name': 'jatin'},
 {'language': 'python', 'name': 'jatin'}]

In [30]:
# 5
# 1 2 3 4 5

# 1
# 2
# 3
# 4

In [31]:
for i in range(4):
    arr.append(int(input()))

1
2
3
4

In [28]:
n = int(input())
arr = [ int(x) for x in input().split(' ') ]

5
1 2 3 4 5

In [29]:
arr

[1, 2, 3, 4, 5]

In [45]:
def func(a, *args, b, **kwargs):
    print(a)
    print(args)
    print(b)

In [46]:
a = func

In [48]:
import random

In [49]:
random.randint(0, 8)

7

In [36]:
def X():
    a = []
    def Y(n):
        a.append(n)
    return Y, a

In [37]:
a, b = X()

In [38]:
a(1)
a(2)
a(3)
a(4)

In [39]:
b

[1, 2, 3, 4]

In [40]:
a1, b1 = X()

In [42]:
b is b1

False

In [44]:
a = 290
b = 290
a is b

False

In [50]:
a = 10
def func():
    global a
    a += 1
    return 6

In [51]:
[ (a, func()) for i in range(10) ]

[(10, 6),
 (11, 6),
 (12, 6),
 (13, 6),
 (14, 6),
 (15, 6),
 (16, 6),
 (17, 6),
 (18, 6),
 (19, 6)]

In [52]:
d = {
    input(): input(),
    input(): input()
}

a
b
c
d

In [53]:
d

{'a': 'b', 'c': 'd'}

In [58]:
a = 290
b = 290

d = {
    a: 1,
    b: 2
}

In [59]:
len(d)

1

In [60]:
a = (1, 2, 3, [1, 2])

In [61]:
a[3] += [100, 101]

TypeError: 'tuple' object does not support item assignment

In [62]:
a

(1, 2, 3, [1, 2, 100, 101])