# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

String Interpolation

In [58]:
"%d %d" % (1, 2)

'1 2'

In [56]:
"{2} {0}".format(1, 2, 3)

'3 1'

In [61]:
"  \t jatin  \n \t\n  ".strip()

'jatin'

In [62]:
"python, cpp, java, c".split(',')

['python', ' cpp', ' java', ' c']

5<br>
1 2 3 4 5

In [63]:
n = int(input())

5

In [64]:
arr = []
for x in input().split(' '):
    arr.append(int(x))

1 2 3 4 5

In [65]:
arr

[1, 2, 3, 4, 5]

In [ ]:
# wrong way
for i in range(n):
    t = int(input())
    arr.append(t)

In [67]:
"jatin".replace('at', 'u')

'juin'

In [69]:
"c++".count('++')

1

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [3]:
a = [1, 2, 3, 4, 5]

In [4]:
type(a)

list

### Basic operations
![](images/list_oper.png)

In [5]:
len(a)

5

In [6]:
a + [1, 2, 3, 4]

[1, 2, 3, 4, 5, 1, 2, 3, 4]

In [9]:
a*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [10]:
a = ["jatin", 1.5, 4, 5j, None, print]

In [11]:
for x in a:
    print(type(x))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'NoneType'>
<class 'builtin_function_or_method'>

In [12]:
a = [1, 2, 3, 4]

In [14]:
7 in a

False

In [15]:
for i in a:
    print(i**2)

1
4
9
16

### Indexing and list slicing

![](images/indexing.png)

In [16]:
a = [1, 2, 3, 4, 5]

In [24]:
a[3]

4

### write a function that takes a list as an argument and returns the reversed list

In [46]:
a = [1, 2, 3, 4, 5, 6]

In [47]:
for i in range(len(a)//2):
    a[-(i+1)], a[i] = a[i], a[-(i+1)]

In [49]:
a = [1, 2, 3, 4, 5, 6, 7]

#### slicing

In [64]:
a[::-1]

[7, 6, 5, 4, 3, 2, 1]

### WAF to find wether the string is palindrome or not

In [ ]:
[::-1]

In [65]:
def isPalindrome(s):
    return s == s[::-1]

In [67]:
isPalindrome("aaabaaa")

True

### Updating the list

- insert

- append

### Deleting list elements

- del
- pop
- remove

In [68]:
a = [1, 2, 3, 4, 5, 6]

In [69]:
a.pop()

6

In [ ]:
a.append() # push
a.pop() # pop

In [ ]:
a.insert(0, obj) # enqueue
a.pop() # dequeue

In [83]:
a = [1, "jatin", 1, 2, 1, 2]

In [87]:
if "jatin" in a:
    a.remove("jatin")

In [88]:
a

[1, 1, 2, 1, 2]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [91]:
a = [3, 2, 1, 4, 2]

In [93]:
print(sorted(a))
print(a)

[1, 2, 2, 3, 4]
[3, 2, 1, 4, 2]

In [94]:
print(a.sort())
print(a)

None
[1, 2, 2, 3, 4]

In [99]:
a = [3, 2, 1]

In [103]:
list(reversed(a))

[1, 2, 3]

In [96]:
a.reverse()

In [98]:
a

[1, 2, 3]

### map, strip and split function (just some utilities when you input a list)

### Printing a list using join

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [104]:
a = (1, 2, 3, 4, 5)

In [107]:
a[::-1]

(5, 4, 3, 2, 1)

In [108]:
def func(*args):
    print(type(args))

In [109]:
func()

<class 'tuple'>

### List to tuple and tuple to list...

In [110]:
a = (1, 2, 3, 4)
list(tuple(list(a)))

[1, 2, 3, 4]

### Returning multiple values from functions (The returned thing is a tuple!)

In [111]:
a = 1
b = 5

In [120]:
x = b, a

In [116]:
a, b = x

In [118]:
a

5

In [119]:
p = 0
n = 1
for _ in range(10):
    print(n)
    p, n = n, p+n

1
1
2
3
5
8
13
21
34
55

In [121]:
a = 5
b = 9

In [122]:
a = a+b
b = a-b
a = a-b

In [123]:
a, b

(9, 5)

In [124]:
t = a
a = b
b = t

In [125]:
a, b

(5, 9)

In [126]:
a = a^b
b = a^b
a = a^b

In [127]:
a, b

(9, 5)

### But...but I like Lists...

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

### Pass by object

In [128]:
def func(arr):
    arr[0] = 100
    
a = [1, 2, 3, 4]
print(a)
func(a)
print(a)

[1, 2, 3, 4]
[100, 2, 3, 4]

In [154]:
a = 290

In [153]:
a = 258
b = 258
print(id(a))
print(id(b))
a = 300
b = 258
print(id(a))
print(id(b))

4561962576
4561963376
4561962128
4561963184

In [161]:
a = "jatin"*500
b = "jatin"*500
id(a) == id(b)

True

In [166]:
a = 'jatin'
b = ''
id(a)

4561794752

In [167]:
a = [1, 2, 3, 4, 5]
b = a
b[0] = 100
print(a)

[100, 2, 3, 4, 5]

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

- keys can only be immutable DS
- values can be anything

In [174]:
d = {
    "name": "jatin",
    "marks": [1, 2, 3, 4],
    "languages": {
        "python": 100,
        "c++": 200,
        "GO": 300,
        "JS": -1100
    }
}

In [176]:
d1 = d

In [177]:
d1["name"] = "sakshi"

In [178]:
d

{'name': 'sakshi',
 'marks': [1, 2, 3, 4],
 'languages': {'python': 100, 'c++': 200, 'GO': 300, 'JS': -1100}}

In [169]:
type(d)

dict

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [5]:
d = {
    "name": "jatin",
    "designation": "developer",
    "languages": ["py", "cpp", "java"]
}

In [6]:
d.get("name")

'jatin'

In [10]:
def subAdd(a, b):
    return (a+b, a-b)

In [12]:
a, b = subAdd(5, 2)

In [13]:
a

7

In [16]:
for x in d.items():
    print(x[0], "=>", x[1])

name => jatin
designation => developer
languages => ['py', 'cpp', 'java']

In [15]:
for key, value in d.items():
    print(key, "=>", value)

name => jatin
designation => developer
languages => ['py', 'cpp', 'java']

In [ ]:
char *names[3] = {"jatin", "sakshi", "bipin"}
int marks[3] = {1, 2, 3}

In [17]:
d.keys()

dict_keys(['name', 'designation', 'languages'])

In [18]:
d.values()

dict_values(['jatin', 'developer', ['py', 'cpp', 'java']])

In [19]:
d.clear()

In [20]:
d

{}

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [33]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [42]:
a = {1, True, 1.0}

In [45]:
a = {
    1: "js",
    True: "cpp",
    1.0: "py"
}

In [46]:
a

{1: 'py'}

### List comprehension
#### Syntactical Sugar

In [71]:
arr = []
for i in range(10):
    arr.append(i**2)

In [73]:
arr = [ i**2 for i in range(10) ]

In [75]:
arrs = { i**2 for i in range(10) }

In [77]:
arrd = { i: i**2 for i in range(10)}

In [78]:
arrd

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [76]:
arrs

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [74]:
arr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)