# Object oriented programming

![](images/oop.jpg)

- In all the programs we wrote till now, we have designed our program around functions i.e. blocks of statements which manipulate data. This is called the **procedure-oriented way of programming**. 


- There is another way of organizing your program which is to combine data and functionality and wrap it inside something called an object. This is called the **object oriented programming paradigm**. 


- Most of the time you can use procedural programming, but when writing large programs or have a problem that is better suited to this method, you can use object oriented programming techniques.


- Classes and objects are the two main aspects of object oriented programming. A class creates a new type where objects are instances of the class. 

<img src="images/classes.png" alt="oop" style="width:500px;"/>

### A minimal example of a class

In [1]:
class Person:
    pass

p = Person()
print(p)

<__main__.Person object at 0x107874128>

In [3]:
hex(id(p))

'0x107874128'

### Class with a method

> Class methods have only one specific difference from ordinary functions - they must have an extra first name that has to be added to the beginning of the parameter list, but you do not give a value for this parameter when you call the method, Python will provide it. This particular variable refers to the object itself, and by convention, it is given the name self.

In [7]:
class Person:
    def say_hi(self):
        self.name = 'Nikhil'
        print('Hello, how are you ' + self.name +  "?")

p = Person()
p.say_hi()
# Person.say_hi(p)

Hello, how are you Nikhil?

In [6]:
p.id = 1

### The \_\_init\_\_ method

In [5]:
class Person:
    name = "jatin"
    
    def __init__(self, **kwargs):
        for key, value in kwargs.items():
            setattr(self, key, value)

    def say_hi(self):
        print('Hello, my name is', self.name)

z = Person(name = "sakshi", language = "python")
z.say_hi()

Hello, my name is sakshi

In [6]:
z.language

'python'

In [23]:
class Dog:
    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance

In [24]:
d = Dog("Bruno")

In [25]:
d.kind

'canine'

In [26]:
class Dog:

#     tricks = []             # mistaken use of a class variable

    def __init__(self, name):
        self.tricks = []
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)

In [29]:
Dog.tricks

['jump', 'talk']

In [27]:
d1 = Dog("Tuffy")
d1.add_trick("jump")
d1.add_trick("talk")

In [28]:
d2 = Dog("Mac")
d2.tricks

['jump', 'talk']

## Inheritance

One of the major benefits of object oriented programming is reuse of code and one of the ways this is achieved is through the inheritance mechanism. Inheritance can be best imagined as implementing a type and subtype relationship between classes.

![](images/inheritance.gif)

In [23]:
class SchoolMember:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def intro(self):
        print(
            "Hello I am {}. I am {} years old"
            .format(self.name, self.age)
        )
class Student(SchoolMember):
    def __init__(self, name, age, roll):
        SchoolMember.__init__(self, name, age)
        self.roll = roll
    def intro(self):
        SchoolMember.intro(self)
        print("My roll number is {}".format(self.roll))
class Teacher(SchoolMember):
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
        self.salary = salary

In [26]:
s = Student("jatin", 45, 1)
s.intro()
t = Teacher("sakshi", 20, 150000)
t.intro()

Hello I am jatin. I am 45 years old
My roll number is 1
Hello I am sakshi. I am 20 years old

In [19]:
s.name

'jatin'

In [ ]:
class SchoolMember:
    '''Represents any school member.'''
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized SchoolMember: {})'.format(self.name))

    def tell(self):
        '''Tell my details.'''
        print('Name:"{}" Age:"{}"'.format(self.name, self.age), end=" ")


class Teacher(SchoolMember):
    '''Represents a teacher.'''
    def __init__(self, name, age, salary):
#         SchoolMember.__init__(self, name, age)
        self.salary = salary
        print('(Initialized Teacher: {})'.format(self.name))

    def tell(self):
        SchoolMember.tell(self)
        print('Salary: "{:d}"'.format(self.salary))
        
        
class Student(SchoolMember):
    '''Represents a student.'''
    def __init__(self, name, age, marks):
        SchoolMember.__init__(self, name, age)
        self.marks = marks
        print('(Initialized Student: {})'.format(self.name))

    def tell(self):
        SchoolMember.tell(self)
        print('Marks: "{:d}"'.format(self.marks))

        
t = Teacher('Mr. Ujjwal', 40, 30000)
s = Student('Nikhil', 25, 75)

## MRO (Method Resolution Order)

In [32]:
class A:
    pass
class B(A):
    x = 5
class C(A):
    x = 10
class D(B):
    pass
class E(D, C):
    pass

In [33]:
e = E()
print(e.x)

5

[Mileages](https://economictimes.indiatimes.com/slideshows/auto/17-cars-with-mileage-of-over-25-km/l-in-india/4-maruti-baleno-diesel/slideshow/51709794.cms)

In [77]:
class output:
    def __lshift__(self, other):
        print(other, end = "")
        return self
cout = output()

In [78]:
cout << "Hello World" << 1 << 'something\n'

Hello World1something

In [56]:
class Car:
    def __init__(self, model, mileage):
        self.model = model
        self.mileage = mileage
    
    def __str__(self):
        return "{} {}".format(self.model, self.mileage)
    
    def __eq__(self, other):
        return self.mileage == other.mileage

    def __add__(self, other):
        return self.mileage + other.mileage

In [48]:
c = Car('wagonr', 24)
str(c)

'wagonr 24'

In [57]:
c1 = Car('wagonr', 24)
c2 = Car('innova', 5)

In [58]:
c1 + c2

29

In [55]:
c1.__eq__(c2)

False

In [27]:
c1 = Car('a',2)
c2 = Car('b', 2)

In [28]:
c1 + c2

4

## Error Handling

In [110]:
def func():
    try:
        return 'something'
    except:
        print("error")
    finally:
        return 'wwwaaatttt !!'

In [111]:
func()

'wwwaaatttt !!'

In [107]:
try:
    10 / 0
    print("something")
except:
    print("error")
finally:
    print("it will execute no matter what !")

error
it will execute no matter what !

In [104]:
try:
    10 / 1
    int('something')
except ZeroDivisionError as e:
    print("Don't divide by zero")
except ValueError as e:
    print(e)
    print('this is not an integer !')
except:
    print('default')

invalid literal for int() with base 10: 'something'
this is not an integer !

In [97]:
10 / 0

ZeroDivisionError: division by zero

In [98]:
int('something')

ValueError: invalid literal for int() with base 10: 'something'

![](images/inherit_joke.jpg)

## A simple desktop application!

In [79]:
from tkinter import *

class Evaluater:
    def __init__(self):
        self.root = Tk()
        self.root.title("Evaluater")
        self.root.minsize(300,100)
        
        self.mylabel = Label(self.root, text="Your Expression:")
        self.mylabel.pack()
        
        self.myentry = Entry(self.root)
        self.myentry.bind("<Return>", self.evaluate)
        self.myentry.pack()
        
        self.res = Label(self.root)
        self.res.pack()
        
        self.root.mainloop()
        
    def evaluate(self, event):
        self.res.configure(text = "Result: " + str(eval(self.myentry.get())))

In [80]:
e = Evaluater()
e.run()

SystemExit: 0

/Users/jatinkatyal/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3304: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)